In [1]:
import pandas as pd

In [2]:
# Read in first file 
previous_olympics_df = pd.read_csv ("../Data_Sets/Summer Olympics Medals 1976-2008/Summer-Olympic-medals-1976-to-2008.csv",  encoding='latin-1')

previous_olympics_df.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze

In [5]:
# Grab needed columns and set index starting with 1
event_winners_df = previous_olympics_df[['Year','Sport','Discipline','Event','Athlete','Gender','Country','Event_gender','Medal']]

event_winners_df = event_winners_df.drop_duplicates()
event_winners_df = event_winners_df.dropna()

event_winners_df['Year'].astype(int)

event_winners_df.index = event_winners_df.index + 1

event_winners_df

,Year,Sport,Discipline,Event,Athlete,Gender,Country,Event_gender,Medal
1,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,East Germany,W,Silver
2,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,Soviet Union,M,Bronze
3,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,United States,M,Gold
4,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,Italy,M,Silver
5,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...
15429,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,France,M,Bronze
15430,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,Georgia,M,Gold
15431,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,Azerbaijan,M,Silver
15432,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,France,M,Gold
15433,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,Cuba,M,Gold

In [ ]:
# Modify Athlete column

In [6]:
# Save file to output path

event_winners_df.to_csv("../Output/Event_Winners.csv")